<div class="modal show" style="display: block;" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Are you sure to delete</h1>
          <button type="button" class="btn-close"></button>
        </div>
        <div class="modal-body">
          <p>Unfortunately the page you are looking for has been moved or deleted</p>
        </div>
        <div class="d-grid col-4 mx-auto mb-4">
          <button type="button" class="btn btn-secondary" (click)="deleteuser()">Go To Home Page</button>
        </div>
      </div>
    </div>
  </div>
